
<div data-page="pcs_dailyWorkList" class="page bg-gray baogonglist">
	<div class="page-content overflow-hidden padding-t-10 padding-r-40 padding-b-10 padding-l-10">	
		<div class="toggle-right-btn"></div>
		<!--表格-->
		<div class="table-panel andonLog-table">
			<table class="table-bordered table-striped" width="100%" align="center">
				<thead>
					<th >行号</th>
					<th >生产顺序号</th>
					<th >产品标识号</th>
					<th >车型描述</th>
					<th >报工数量</th>
					<th >报工时间</th>
					<th >站点描述</th>
					<th >工序描述</th>
				</thead>
			</table>
		</div>
	</div>
</div>


