<div data-page="pcs_productExceptionClose" class="page bg-gray productExceptionClose">
	<div class="page-content" id="productExceptionClose" sw-role="cell" sw-mode="y">

		<!-- 顶部输入框开始 -->
		<div sw-role="cell" sw-mode="y">
			<div sw-role="cell" class="topbar">
				<div sw-role="cell" class="topbar-form">
					<div sw-role="cell" class="topbar-form-item big-item w100p">
						<div sw-role="cell" class="topbar-key">
							<label for="" class="topbar-label">
                                车辆VIN号：
                            </label>
						</div>
						<div sw-role="cell" class="topbar-value">
							<input id="productNum" value="" type="text" autofocus />
						</div>
					</div>
				</div>
				<div sw-role="cell" class="topbar-opt big-item">
					<a href="#" id="confirm" class="topbar-button button button-fill color-cyan">查询状态</a>
					<a href="#" id="confirm" class="topbar-button button button-fill color-cyan">取消确认</a>
				</div>
			</div>
		</div>
		<!-- 顶部输入框结束 -->

		<!-- 详情 -->
		<div class="detial" sw-role="cell" sw-mode="y">
			物料描述 订单备注
		</div>



	</div>
</div>