<!--车辆提醒配置面板-->
<div data-page="carModelSwitchRemindSettingPage" class="page">
    <div class="page-content">
        <div class="search-panel">
            <!--控制按钮区域-->
            <div class="button-box padding-t-20 padding-b-20 bg-gray">
                <!--<p class="font-18 margin-t-5 margin-b-15  margin-l-15" data-i18n="COMMON.T.SEARCH_CONTENT"></p>-->
                <div class="big-item" sw-mode='x-equal'>

                    <a href="#" class="topbar-button button button-fill color-cyan btn-return" name="btnRetrun">返回</a>
                </div>
                <div class="big-item" sw-mode='x-equal'>
                    <a href="#" class="topbar-button button button-fill color-cyan" name="btnSearch" >保存</a>
                </div>
            </div>
            <!--表单内容-->
            <form>
                <div class="row  no-gutter" >
                    <div class="col-100 form-group" sw-mode='x-equal'>
                        <label class="form-label">
                        	监控资源块
                        </label>
                        <div class="w100p">
                            <input type="text" name="resourceSet" class="datetime form-control">
                        </div>
                    </div>
                </div>
                <div class="row  no-gutter" >
                    <div class="col-100 form-group" sw-mode='x-equal'>
                        <label class="form-label">
                        	监控站点
                        </label>
                        <div class="w100p">
                            <input type="text" name="stationCode" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row  no-gutter" >
                    <div class="col-100 form-group" sw-mode='x-equal'>
                       <label class="form-label">
                        	监控队列长度
                        </label>
                        <div class="w100p">
                            <input type="text" name="length" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row  no-gutter" >
                    <div class="col-100 form-group" sw-mode='x-equal'>
                         <label class="form-label">
                        	监控元素
                        </label>
                        <div class="w100p">
                            <input type="text" name="element" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row  no-gutter" >
                    <div class="col-100 form-group" sw-mode='x-equal'>
                         <label class="form-label">
                        	
                        </label>
                        <div>
                             <input type="checkbox" name="typeCode" ><label>显示当前</label>
                        </div>
                    </div>
                </div>
                <div class="row  no-gutter" >
                    <div class="col-100 form-group" sw-mode='x-equal'>
                         <label class="form-label">
                        	倒计时开始
                        </label>
                        <div class="w100p">
                             <input type="text" name="element" class="form-control">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
