<!-- ANDON台帐页面 -->
<div data-page="andon_andonLog" class="page bg-gray">
	<div class="page-content overflow-hidden padding-t-10 padding-r-40 padding-b-10 padding-l-10">
		<!--ANDON右侧收展按钮-->
		<div class="toggle-right-btn"></div>
		<!--表格-->
		<div class="table-panel andonLog-table">
			<table class="table-bordered table-striped">
				<thead>
					<th data-i18n="COMMON.T.NO"></th>
					<th data-i18n="COMMON.T.WORKCENTER"></th>
					<th data-i18n="COMMON.T.STATION"></th>
					<th data-i18n="COMMON.T.TYPE"></th>
					<th data-i18n="COMMON.T.STATUS"></th>
					<th data-i18n="ANDON.T.TOUCH_TOTAL_TIME"></th>
					<th data-i18n="ANDON.T.TOUCH_TIME"></th>
					<th data-i18n="ANDON.T.TOUCH_PERSON"></th>
					<th data-i18n="COMMON.T.REMARK"></th>
				</thead>
			</table>
		</div>
	</div>
</div>

