<div data-page="model_test" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
            </div>
            <div class="center sliding">Services标题</div>
            <div class="right"><a href="#" data-panel="left" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <div class="page-content">
        </br>
        </br>
        </br>
        <div class="content-block">
            <form>
                VIN号：<input type="text" /> <input type="button" value="刷新" id="model_test_button"></input>
            </form>
        </div>
        <div class="content-block">
            <div id="model_test_fields">
                
            </div>
            <div>
                <div border='1' id="model_test_component_1">
                    
                </div>
                <div border='1' id="model_test_component_2">
                    

                </div>
            </div>
        </div>
        </div>
    </div>
</div>
