<div data-page="widgetdemo" class="page bg-gray">
	<div class="page-content">
		<!-- <div sw-role="cell" sw-mode="y">
		            <div sw-role="cell" class="topbar">
		                <div sw-role="cell" class="topbar-form">
		                    <div sw-role="cell" class="topbar-form-item big-item w100p">
		                        <div sw-role="cell" class="topbar-key">
		                            <label for="" class="topbar-label">
		                                车辆VIN号：
		                            </label>
		                        </div>
		                        <div sw-role="cell" class="topbar-value">
		                            <input type="text">
		                        </div>
		                    </div>
		                </div>
		                <div sw-role="cell" class="topbar-opt big-item">
		                    <a href="#" class="topbar-button button button-fill color-cyan">报工</a>
		                    <a href="#" class="topbar-button button button-fill color-cyan" name="btnRefresh">刷新</a>
		                    <a href="#" class="topbar-button button button-fill color-cyan" name="btnConfigSet" data-enable-config-set=false>设置</a>
		                </div>
		            </div>
		        </div>
		<div sw-role="cell" sw-layout="fit">
			<div class="widget-column widget-empty" style="min-height: 100px;">
				<div class="widget-empty-text" name="widget-0" style="min-height:100px;">
					
				</div>
			</div>
		</div>
		<div sw-role="cell" sw-layout="fit">
			<div class="widget-column widget-empty" style="min-height: 100px;">
				<div class="widget-empty-text" name="widget-1" style="min-height:100px;">
					
				</div>
			</div>
		</div>
		<div sw-role="cell" sw-layout="fit">
			<ul class="widget-column widget-empty" style="min-height: 243px;">
				<li class="widget-empty-text">将小工具拖入这里或者 
					<a class="add-widget-link open-popup" name="add-widget" href="#" data-popup=".popup-widget-choose"> 添加新的小工具 </a>
				</li>
			</ul>
		</div> -->

		
		<div id="widgetContent" sw-role="cell" sw-mode="y"></div>


		
	</div>
	
</div>