<!-- 缺陷台账-页面 -->
<div data-page="pqs_defectList" class="page bg-gray">
	<div class="page-content overflow-hidden padding-t-10 padding-r-40 padding-b-10 padding-l-10">
		<div class="toggle-right-btn expand">
		</div>
		<div class="table-panel defectList-table table-widthFix">
			<table id="defectList-table" class="table-bordered table-striped">
				<thead>
					<th>序号</th>
					<th>产品标识号</th>
					<th>站点</th>
					<th>部位编号</th>
					<th>部位描述</th>
					<th>方位编号</th>
					<th>方位</th>
					<th>缺陷类型编号</th>
					<th>缺陷类型描述</th>
					<th>严重程度</th>
					<th>责任类别</th>
					<th>责任方类别</th>
					<th>检验时间</th>
				</thead>
			</table>
		</div>
	</div>
</div>

