<!-- 关重件档案页面 -->
<div data-page="pqs_keyComponentRecord" class="page bg-gray">
	<div class="page-content overflow-hidden padding-t-10 padding-r-40 padding-b-10 padding-l-10">
		<div class="toggle-right-btn expand">
		</div>
		<div class="table-panel keypartRecord-table table-widthFix">
			<table class="table-bordered table-striped">
				<thead>
					<th data-i18n="COMMON.T.NO"></th>
					<th data-i18n="COMMON.T.WORKCENTER"></th>
					<th data-i18n="COMMON.T.STATION"></th>
					<th data-i18n="KEYPART.T.PRODUCT_NO">产品标示号</th>
					<th>产品ID</th>
					<th data-i18n="COMMON.T.STATUS"></th>
					<th data-i18n="KEYPART.T.MATERIAL_NO"></th>
					<th data-i18n="KEYPART.T.MATERIAL_DESC"></th>
					<th data-i18n="KEYPART.T.SUPPLIER_CODE"></th>
					<th data-i18n="KEYPART.T.SUPPLIER_DESC"></th>
					<th data-i18n="KEYPART.T.BATCH"></th>
				</thead>
			</table>
		</div>
	</div>
</div>

<!--<th>序号</th>-->
<!--<th>工作中心</th>-->
<!--<th>站点</th>-->
<!--<th>产品标示号</th>-->
<!--<th>产品ID</th>-->
<!--<th>状态</th>-->
<!--<th>物料编码</th>-->
<!--<th>物料描述</th>-->
<!--<th>供应商编码</th>-->
<!--<th>供应商描述</th>-->
<!--<th>批次号</th>-->

